/* This keeps child nodes hidden while the element loads */
/* :not(:defined) > * {
  display: none;
} */

body {
  font-family: Roboto Mono;
}
model-viewer {
  background-color: rgb(15, 0, 0);
  overflow-x: hidden;
  --poster-color: #eee;

  min-height: 100%;
  min-width: 100%;
}

#ar-button {
  background-image: url(./assets/images/arcube.png);
  background-repeat: no-repeat;
  background-size: 3vh 3vh;
  background-position: 1vh 50%;
  background-color: #fff;
  position: absolute;
  left: 38%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 18%;
  padding: 0px 1em 0px 2em;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 2vh;
  color: #4285f4;
  height: 3em;
  line-height: 1em;
  border-radius: 18px;
  border: 1px solid #dadce0;
}
#sound-btn {
  background-image: url(./assets/images/sound.png);
  background-repeat: no-repeat;
  background-size: 3vh 3vh;
  background-position: 1vh 50%;
  background-color: #fff;
  position: absolute;
  left: 62%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 18%;
  padding: 0px 1em 0px 2em;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 2vh;
  color: #4285f4;
  height: 3em;
  line-height: 1em;
  border-radius: 18px;
  border: 1px solid #dadce0;
}
/* @media only screen and (max-width: 600px) {
  #ar-button {
    color: #1eff00;
  }
} */

#ar-button:active {
  background-color: #e8eaed;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(-100px);
  }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 175px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-div {
  background-color: #212121;
  border-style: solid;
  border-radius: 10px 10px;
}
model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

model-viewer {
  background-color: #cbefbb;
}
model-viewer > #ar-failure {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 175px;
  display: none;
}

model-viewer[ar-tracking="not-tracking"] > #ar-failure {
  display: block;
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  /* position: absolute; */
  bottom: 16px;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 10vh;
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-radius: 1em;
  border: none;
  display: flex;
}

.slide.selected {
  border: 0.5vh solid #000000;
}

.slide:focus {
  outline: none;
}

.slide:focus-visible {
  outline: 1px solid #4285f4;
  margin: 1%;
  border-radius: 5px 5px;
}

#interactions {
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 5%;
}

#story-card {
  color: #212121;
  background-color: #dadce0;
  margin: 5% 5%;
  padding: 5% 5%;
  display: none;
}

/*
Anotations Code
*/
ano-button {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  box-sizing: border-box;
}

ano-button[slot="hotspot-hand"] {
  --min-hotspot-opacity: 0;
  background-color: red;
}

ano-button[slot="hotspot-foot"]:not([data-visible]) {
  background-color: transparent;
  border: 3px solid blue;
}

#annotation {
  background-color: #888888;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
}
:not(:defined) > * {
  display: none;
}

/*
Anotations End
*/

/* color classes */
.animals {
  background-color: #38b6ff;
}

.objects {
  background-color: #ffbd59;
}

.music {
  background-color: #7ed957;
}

#objdesc {
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  font-family: "Open Sans", sans-serif;
  font-size: 1vh;
}

#objname {
  font-size: 2.5vh;
  color: black;
  background-color: #212121;
  border-radius: 20px;
  color: aliceblue;
  padding: 5%;
}

/* popup modal */
#ann-astro button{
  display: none;
}

#anno-tiger {
  display: block;
}